.navbarInicio{
    background: white;
    width: 100vw;
    position: fixed;
    top: 0px;
    padding: .7em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.imgRedonda {
    width:25px;
    height:25px;
    border-radius:150px;
}
.imgTransparente{
    opacity:0.6;
    filter:alpha(opacity=40); 
}
.boton{
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    color:black;
    background-color:#ffffff;
    border:0px;
    padding: 0px 16px;
    width:80px;
    height:45px;
    border-radius:150px;
}
.boton:hover { 
    background: rgb(226, 226, 226); 
    color: black; 
} 
.boton:active { 
    background: rgb(0, 0, 0); 
    color: white; 
} 
.opcion{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:150px; 
    padding: 10px 13px;
}
.opcion:hover{
    background: rgb(226, 226, 226);
}
.box{
    margin: auto auto;
    display: flex;
    justify-content: center;
    height: 45px;
}
.buscador-1{
    background-color: rgba(255, 255, 255, 0.63);
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.buscador-1 input#search{
    width: 100%;
    height: 45px;
    background: rgb(241, 238, 238);
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 155px;
}
.buscador-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .buscador-1 input#search:-moz-placeholder { 
    color: #65737e;  
 }
  
 .buscador-1 input#search::-moz-placeholder {  
    color: #65737e;  
 }
  
 .buscador-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .buscador-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
 }

.contenedor1 {
    width: 5%;
 }

.contenedor2 {
     width: 15%;
}
.contenedor3 {
     width: 60%;
}
.contenedor4 {
    width: 20%;
}